<view class="view-1">
    <text>服务项目</text>
</view>

<view class="view-2">
    <text>{{p1}}</text>
</view>

<view class="contact-info">
<view class="contact-detail-view">
    <view class="contact-details contact-details-1">
        <image src="../../images/contact-1.svg"></image>
        <text bindtap="callPhone">{{phone}}</text>
    </view>
    <view class="contact-details">
        <image class="image1" src="../../images/contact-2.svg"></image>
        <text bindtap="callMobile">{{mobile}}</text>
    </view>
    <view class="contact-details">
        <image class="image2" src="../../images/contact-3.svg"></image>
        <text bindtap="click">{{address}}</text>
    </view>
    <view class="contact-details contact-details-4">
        <image class="image3" src="../../images/contact-4.svg"></image>
        <text>{{mail}}</text>
    </view>
</view>
<view class="subtitle">
    <image src="../../images/c5.svg"></image>
    <text>{{subtitle}}</text>
</view>
<view class="view-2">
    <view class="row-1 flex-wrap">
        <view class="flex-col-1">
            <image src="../../images/c1.svg"></image>
        </view>
        <view class="flex-col-2">
            <text class="title">{{weTitle1}}\n</text>
            <text class="desc">{{wedesc1}}</text>
        </view>
    </view>
    <view class="row-1 flex-wrap">
        <view class="flex-col-1">
            <image src="../../images/c2.svg"></image>
        </view>
        <view class="flex-col-2">
            <text class="title">{{weTitle2}}\n</text>
            <text class="desc">{{wedesc2}}</text>
        </view>
    </view>
    <view class="row-1 flex-wrap">
        <view class="flex-col-1">
            <image src="../../images/c3.svg"></image>
        </view>
        <view class="flex-col-2">
            <text class="title">{{weTitle3}}\n</text>
            <text class="desc">{{wedesc3}}</text>
        </view>
    </view>
    <view class="row-1 flex-wrap">
        <view class="flex-col-1">
            <image src="../../images/c4.svg"></image>
        </view>
        <view class="flex-col-2">
            <text class="title">{{weTitle4}}\n</text>
            <text class="desc">{{wedesc4}}</text>
        </view>
    </view>
</view>
<view class="view-3"></view>
</view>
